<header>
  <nav>
      <a routerLink="/registro"><img src="images/icono-registro.png" alt="Registro"><p>Registro</p></a>
      <a routerLink="/login"><img src="images/icono-login.svg" alt="Login"><p>Login</p></a>
      <a routerLink="/habitaciones"><img src="images/icono-nueva.png" alt="Habitaciones"><p>Habitaciones</p></a>
      <a routerLink="/reservas"><img src="images/icono-reserva.svg" alt="Reservas"><p>Reservas</p></a>
      <a routerLink="/admin"><img src="images/icono-admin.svg" alt="Admin"><p>Admin</p></a>
  </nav>
</header>

<main class="nueva-habitacion">
  <h1>Agregar Nueva Habitación</h1>
  <form (ngSubmit)="onSubmit()" #habitacionForm="ngForm" enctype="multipart/form-data">
    <label for="numero">Número:</label>
    <input type="text" id="numero" name="numero" [(ngModel)]="habitacion.numero" required />

    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" [(ngModel)]="habitacion.tipo" required>
      <option value="simple">Simple</option>
      <option value="doble">Doble</option>
      <option value="suite">Suite</option>
    </select>
    

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="habitacion.precio" required />

    <label for="estado">Estado:</label>
    <select id="estado" name="estado" [(ngModel)]="habitacion.estado" required>
      <option value="disponible">Disponible</option>
      <option value="ocupada">Ocupada</option>
      <option value="mantenimiento">Mantenimiento</option>
    </select>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" [(ngModel)]="habitacion.descripcion"></textarea>

    <label for="fotos">Fotos:</label>
    <input type="file" id="fotos" name="fotos" (change)="onFileChange($event)" multiple accept="image/*" />

    <button type="submit" [disabled]="!habitacionForm.form.valid">Guardar Habitación</button>
  </form>
</main>