<header>
  <nav>
    <a routerLink="/registro"><img src="images/icono-registro.png" alt="Registro"><p>Registro</p></a>
    <a routerLink="/login"><img src="images/icono-login.svg" alt="Login"><p>Login</p></a>
    <a routerLink="/habitaciones"><img src="images/icono-nueva.png" alt="Habitaciones"><p>Habitaciones</p></a>
    <a routerLink="/reservas"><img src="images/icono-reserva.svg" alt="Reservas"><p>Reservas</p></a>
    <a routerLink="/mis-reservas"><img src="images/icono-mis-reservas.png" alt="Mis Reservas"><p>Mis Reservas</p></a>
    <a routerLink="/admin"><img src="images/icono-admin.svg" alt="Admin"><p>Admin</p></a>
  </nav>
</header>

<main>
  <h1>Reservar Habitación</h1>
  <form (submit)="reservar($event)">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" />

    <label for="correo">Correo:</label>
    <input type="email" id="correo" />

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" />

    <label for="habitacion">Habitación:</label>
    <select id="habitacion">
      <option value="individual">Individual</option>
      <option value="doble">Doble</option>
      <option value="suite">Suite</option>
    </select>

    <button type="submit">Reservar</button>
  </form>
</main>
