.boton-reserva {
    margin: 1rem;
    padding: 10px 20px;
    background-color: #FF5A5F;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.boton-reserva:hover {
    background-color: #e14a4f;
}