
<header>
  <nav>
    <a routerLink="/registro"><img src="images/icono-registro.png" alt="Registro"><p>Registro</p></a>
    <a routerLink="/login"><img src="images/icono-login.svg" alt="Login"><p>Login</p></a>
    <a routerLink="/habitaciones"><img src="images/icono-nueva.png" alt="Habitaciones"><p>Habitaciones</p></a>
    <a routerLink="/reservas"><img src="images/icono-reserva.svg" alt="Reservas"><p>Reservas</p></a>
    <a routerLink="/admin"><img src="images/icono-admin.svg" alt="Admin"><p>Admin</p></a>
  </nav>
</header>

<main class="registro">
  <h1>Registro de Usuario</h1>
  <form (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required />
  
    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut" [(ngModel)]="rut" required />
  
    <label for="dv">Dígito Verificador:</label>
    <input type="text" id="dv" name="dv" [(ngModel)]="dv" required />
  
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required />
  
    <label for="correo">Correo electronico:</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="correo" required />
  
    <label for="clave">Contraseña:</label>
    <input type="password" id="clave" name="clave" [(ngModel)]="password" required />
  
    <button type="submit">Registrarse</button>
  </form>
  
  <p *ngIf="mensaje">{{ mensaje }}</p>
  <p><a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a></p>
</main>