<nav>
  <ul>
    <li><a routerLink="/login">Iniciar Sesión</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <li><a routerLink="/reservas">Reservar</a></li>
    <li><a routerLink="/admin">Panel Admin</a></li>
    <li><a routerLink="/crear-habitacion">Agregar Habitación</a></li>
  </ul>
</nav>
<section class="registro">
  <h2>Registro de Usuario</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre completo:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required />
  
    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut" [(ngModel)]="rut" required />
  
    <label for="dv">Dígito Verificador:</label>
    <input type="text" id="dv" name="dv" [(ngModel)]="dv" required />
  
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required />
  
    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="correo" required />
  
    <label for="clave">Contraseña:</label>
    <input type="password" id="clave" name="clave" [(ngModel)]="password" required />
  
    <button type="submit">Registrarse</button>
  </form>
  
  <p *ngIf="mensaje">{{ mensaje }}</p>
  <p><a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a></p>
</section>