<header>
    <nav>
        <a routerLink="/registro"><img src="images/icono-registro.png" alt="Registro"><p>Registro</p></a>
        <a routerLink="/login"><img src="images/icono-login.svg" alt="Login"><p>Login</p></a>
        <a routerLink="/habitaciones"><img src="images/icono-nueva.png" alt="Habitaciones"><p>Habitaciones</p></a>
        <a routerLink="/reservas"><img src="images/icono-reserva.svg" alt="Reservas"><p>Reservas</p></a>
        <a routerLink="/admin"><img src="images/icono-admin.svg" alt="Admin"><p>Admin</p></a>
    </nav>
</header>

<main>
    <h1>Habitaciones Disponibles</h1>
    <div class="contenedor-habitaciones">
        <div class="tarjeta-habitacion">
            <img src="images/habitacion_1.webp" alt="Habitación Individual"/>
            <h3>Habitación Individual</h3>
            <p>Costo: $30.000</p>
            <p>Estado: Disponible</p>
        </div>
        <div class="tarjeta-habitacion">
            <img src="images/habitacion_2.jpg" alt="Habitación Doble"/>
            <h3>Habitación Doble</h3>
            <p>Costo: $45.000</p>
            <p>Estado: Disponible</p>
        </div>
        <div class="tarjeta-habitacion">
            <img src="images/habitacion_3.webp" alt="Suite"/>
            <h3>Suite</h3>
            <p>Costo: $60.000</p>
            <p>Estado: Ocupada</p>
        </div>
    </div>
</main>