<header>
  <nav>
    <a routerLink="/registro"><img src="assets/images/icono-registro.png" alt="Registro"><p>Registro</p></a>
    <a routerLink="/login"><img src="assets/images/icono-login.svg" alt="Login"><p>Login</p></a>
    <a routerLink="/habitaciones"><img src="assets/images/icono-nueva.png" alt="Habitaciones"><p>Habitaciones</p></a>
    <a routerLink="/reservas"><img src="assets/images/icono-reserva.svg" alt="Reservas"><p>Reservas</p></a>
    <a routerLink="/admin"><img src="assets/images/icono-admin.svg" alt="Admin"><p>Admin</p></a>
  </nav>
</header>

<main>
  <h1>Panel de Administración</h1>
  <ul>
    <li><a routerLink="/nueva-habitacio">Agregar Nueva Habitación</a></li>
  </ul>
</main>