<nav>
  <ul>
    <li><a routerLink="/login">Iniciar Sesión</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    <li><a routerLink="/reservas">Reservar</a></li>
    <li><a routerLink="/admin">Panel Admin</a></li>
    <li><a routerLink="/crear-habitacion">Agregar Habitación</a></li>
  </ul>
</nav>
<section class="admin-panel">
  <h2>Panel de Administración</h2>
  <ul>
    <li><a routerLink="/crear-habitacion">Agregar Habitación</a></li>
    <li><a routerLink="/reservas">Ver Reservas</a></li>
  </ul>
</section>